#club-leaderboard-body{
    height: 100%;
    min-height: 100vh;
    align-items: center;
    border-bottom: 2px solid #F05742; 
}

#club-leaderboard-header{
    color: #F05742;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

#club-leaderboard-content{
    margin-left: 25%;
    width: 50%;
}