@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

#find-match-body{
    height: 100%;
    min-height: 100vh;
    align-items: center;
    border-bottom: 1px solid #F05742;  
}

#find-match-header{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

#find-match-content{
    white-space: nowrap;
    width: 50%;
}

#find-match-avatar{
    display: inline-block;
}

#find-match-table{
    display: inline-block;
}

.join-match-button{
    font-family: "Poppins", "sans-serif";
    color: white;
    margin-left: 60%;
    background-color: #F05742;
    border-radius: 10px;
}

.join-match-button:hover{
    cursor: pointer;
    color:black;
    background-color: white;
}

.leave-match-container{
    white-space: nowrap;
}

.find-match-opponent-team-name{
    margin-left: 65%;
    display: inline-block;
}

.leave-match-button{
    font-family: "Poppins", "sans-serif";
    color: white;
    margin-left: 25%;
    background-color: #F05742;
    border-radius: 10px;
}

.leave-match-button:hover{
    cursor: pointer;
    color:black;
    background-color: white;
}

.create-match-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.standard-clubhub-button{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Poppins", "sans-serif";
    color: white;
    background-color: #F05742;
    border-radius: 10px;
}

.standard-clubhub-button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}


/****************************************
*****************************************
    DATE TIME PICKER 
    *************************************
    *************************************/

    .date-time-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
/* label text */
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    color: white !important;
}

/* date text */
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    color: white !important;
}

/* date box border */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: gray !important;
}

/* date icon */
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
    color: white !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root:hover{
    color: #F05742 !important;
}

/* calendar background and header text */
.css-1smlk3z-MuiPaper-root{
    background-color: black !important;
    color: white !important;
    border: 1px solid gray;
    margin-top: 10px;
}

/* calendar days */
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root{
    color: white !important;
    background-color: black !important;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root:hover{
    border: 1px solid #F05742 !important;
}

/* days of the week */
.css-1w13o7u-MuiTypography-root{
    color: white !important;
}

/* left calendar arrow */
.css-1ae9t7h-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
    color: white !important
}
.css-1ae9t7h-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover{
    color:#F05742 !important;
}

/* right calendar arrow */
.css-jro82b-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
    color: white !important
}
.css-jro82b-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover{
    color: #F05742 !important;
}

/* Year dropdown arrow */
.css-7kykdr-MuiButtonBase-root-MuiIconButton-root{
    color: white !important
}
.css-7kykdr-MuiButtonBase-root-MuiIconButton-root:hover{
    color: #F05742 !important
}

/* Year not selected */
.css-m1gykc:hover{
    border: 1px solid #F05742 !important;
}
/* Year selected */
.css-m1gykc.Mui-selected{
    background-color: #F05742 !important;
}

/* date circle background */
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root{
    background-color:#F05742 !important;
    color: white !important;
}

/* clock face */
.css-eziifo{
    background-color: white !important;
}

/* AM */
.css-173nj1u-MuiButtonBase-root-MuiIconButton-root{
    color: white !important;
}

/* PM */
.css-1khl9uc-MuiButtonBase-root-MuiIconButton-root{
    color: white !important;
}

/* AM selected */
.css-1t8wyba-MuiButtonBase-root-MuiIconButton-root{
    background-color: #F05742 !important;
}

/* PM selected */
.css-13go44a-MuiButtonBase-root-MuiIconButton-root{
    background-color: #F05742 !important;
}

/* Clock center */
.css-12ha4i7{
    background-color: #F05742 !important;
}

/* Clock hand */
.css-7lip4c{
    background-color: #F05742 !important;
}
.css-a1rc6s{
    background-color: #F05742 !important;
}

/* Clock select hour*/
.css-118whkv{
    border: 16px solid #F05742 !important;
    background-color: #F05742 !important;
}

/* Clock select minute */
.css-2ujp1m{
    border: 16px solid #F05742 !important;
    background-color: #F05742 !important;
}

/****************************************
*****************************************
    DATE TIME PICKER 
    *************************************
    *************************************/

.platform-dropdown{
    margin-top: 5%;
}

/* Platform dropdown paper */
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    background-color: black !important;
    color: white !important;
    border: 1px solid gray !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover{
    background-color: #F05742 !important;
}

/* Input border */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-width: 1px !important;
}

.submit-cancel-buttons{
    margin-top: 2%;
}