@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

#find-match-body{
    height: 100%;
    min-height: 100vh;
    align-items: center;
    border-bottom: 1px solid #F05742;  
}

#find-match-header{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

#find-match-content{
    white-space: nowrap;
    width: 50%;
}

#find-match-avatar{
    display: inline-block;
}

#find-match-table{
    display: inline-block;
}

.join-match-button{
    font-family: "Poppins", "sans-serif";
    color: white;
    margin-left: 60%;
    background-color: #F05742;
    border-radius: 10px;
}

.join-match-button:hover{
    cursor: pointer;
    color:black;
    background-color: white;
}

.leave-match-container{
    white-space: nowrap;
}

.find-match-opponent-team-name{
    margin-left: 65%;
    display: inline-block;
}

.leave-match-button{
    font-family: "Poppins", "sans-serif";
    color: white;
    margin-left: 25%;
    background-color: #F05742;
    border-radius: 10px;
}

.leave-match-button:hover{
    cursor: pointer;
    color:black;
    background-color: white;
}