body{
    background-color: black;
    color: white
}

#nav-container{
    height: 10vh;
}

#home{
    height: 100vh;
    height: fit-content;
    text-align: center;
}

#club-leaderboard{
    height: 100vh;
    height: fit-content;
    text-align: center;
}

#find-match{
    height: 100vh;
    height: fit-content;
    text-align: center;
}

::selection{
    background: #F05742
}

.standard-clubhub-button{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Poppins", "sans-serif";
    color: white;
    background-color: #F05742;
    border-radius: 10px;
}



