#nav{
    height: 100%;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid #F05742;
}

#nav-links{
    display: flex;
    width: 50%;
    color: white;
    justify-content: flex-end;
}

#nav-links > div {
    margin-right: 10%;
    display: inline-block;
    cursor: pointer;
}

#nav-links > div:hover {
    color:#F05742;
}


