.nav{
    height: 100%;
    display: flex;
    font-size: 16px;
    background-color: black;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #F05742;
}

.nav-links{
    display: flex;
    width: 50%;
    color: white;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.nav-links > div {
    margin-right: 10%;
    display: inline-block;
    cursor: pointer;
}

.nav-link:hover{
    color: #F05742 !important
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
   color: #F05742;
}


